body{
  background-color: #ddd;
  padding:20px 100px;
}

canvas {
    border: 1px solid black;
}
button {
    clear: both;
    display: block;
}

.half{
  width:50%;
  float: left;
}

#content {
    background-color: #fff;
    width: 475px;
    height: 665px;
    position: relative;
    /* padding: 50px 10px; */
    /* background-image: url("./stripes.png"); */
     /* background-size: 475px 665px; */
}

.main {
  /* position: relative; */
  display: block;
}

.ab {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letter {
  font-size: 375px;
  top: 310px;
  /* top:-200px; */
  /* transform: translateY(-200px); */
}

#slide {
  top: 55%;

}

.name {
  border-top: solid black 10px;
  border-bottom: solid black 10px;
  font-size: 45px;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  /* padding: 0px 30px; */
  width: 325px;
  line-height: 50px;
  height:50px;

}

img {
  opacity: .6;
  margin:-6px;
}

.flip {
  transform: rotate(180deg);
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}
