body{
  background-color: #ddd;
  padding:20px 100px;
}

canvas {
    border: 1px solid black;
}
button {
    clear: both;
    display: block;
}
#content {
    background-color: #fff;
    width: 400px;
    height: 550px;
    position: relative;
    /* padding: 50px 10px; */
}

.ab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letter {
  font-size: 375px;
}

.name {
  border-top: solid black 20px;
  border-bottom: solid black 20px;
  font-size: 60px;
  background-color: #fff;
  text-align: center;
}

.flip {
  transform: rotateX(180deg);
}
